body{
    position: relative;
    width: 1920px;
    height: 6104px;
    font-family: 'Montserrat';
    font-weight: normal;
    background: #FFFBF5;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    isolation: isolate;
    
    position: absolute;
    width: 1920px;
    height: 86px;
    left: calc(50% - 1920px/2);
    top: 0px;
    
    background: #FFF3DF;
}

.navbar-logo{
    position: absolute;
    width: 143px;
    height: 41px;
    left: calc(50% - 143px/2 + 0.5px);
    top: calc(50% - 41px/2 - 1.5px);
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    width: 396px;
    height: 38px;
    
}

.nav-items a{
    width: 47px;
    height: 22px;

    color: #36392D;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    width: 152px;
    height: 24px;
}

#selected-navitem{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    width: 105px;
    height: 38px;

    background: #FFFBF5;
    border-radius: 24px;
    color: #D40000;

}

.main-section img{
    position: absolute;
    width: 719px;
    height: 578px;
    left: 229px;
    top: 166px;

}

.main-section-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    position: absolute;
    width: 663px;
    height: 400px;
    left: 1028px;
    top: 255px;

}

.main-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 663px;
    height: 216px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.main-section-content p{
    width: 207px;
    height: 28px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.main-section-content h1{
    width: 663px;
    height: 188px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: #D40000;
    
}

.main-section-content h2{
    width: 663px;
    height: 68px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    color: #36392D;
}

button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 40px 8px 0px;
    gap: 8px;

    width: 124px;
    height: 36px;

    background-color: #FFFBF5;
    flex: none;
    order: 2;
    flex-grow: 0;
    border: 0px;
    border-bottom: 1px solid #36392D;
}

.offer-cards{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 1920px;
    height: 289px;
    left: 0px;
    top: 904px;
    overflow-y: scroll;
}

.offer-cards-item{
   
    width: 719px;
    height: 289px;

    background: #FFF3DF;
    border-radius: 24px;

    flex: none; 
    order: 0;
    flex-grow: 0;
}

.card-img{
    position: absolute;
    width: 272px;
    height: 289px;
    left: 447px;
    top: 0px;
}

.offer-heading{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 40px 8px 0px;
    gap: 8px;

    position: absolute;
    width: 241px;
    height: 78px;
    left: 40px;
    top: 40px;
    order: 1;
    border-bottom: 1px solid #36392D;
}

.offer-heading p{
    width: 201px;
    height: 62px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
   
    color: #36392D;

    flex: none;
    order: 0;
    flex-grow: 0;
}

#offer-description{
    position: absolute;
    width: 375px;
    height: 63px;
    left: 40px;
    top: 134px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    color: #36392D;
}

#card-btn{
    position: absolute;
    width: fit-content;
    height: 36px;
    left: 40px;
    top: 213px;
    background-color: #fff3df;
}