body{
    position: relative;
    width: 1920px;
    height: 5657px;
    font-family: 'Montserrat';
    font-weight: normal;
    background: #FFFBF5;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 80px;
    isolation: isolate;
    
    position: absolute;
    width: 1920px;
    height: 86px;
    left: calc(50% - 1920px/2);
    top: 0px;
    
    background: #FFF3DF;
}

.navbar-logo{
    position: absolute;
    width: 143px;
    height: 41px;
    left: calc(50% - 143px/2 + 0.5px);
    top: calc(50% - 41px/2 - 1.5px);
}

.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    width: 396px;
    height: 38px;
    
}

.nav-items a{
    width: 47px;
    height: 22px;

    color: #36392D;
    text-decoration: none;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.nav-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 40px;

    width: 152px;
    height: 24px;
}

#selected-navitem{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    width: 105px;
    height: 38px;

    background: #FFFBF5;
    border-radius: 24px;
    color: #D40000;

}

.main-section img{
    position: absolute;
    width: 719px;
    height: 578px;
    left: 229px;
    top: 166px;

}

.content-side{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 663px;
    height: 400px;
    left: 1028px;
    top: 255px;

}

.main-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;

    width: 663px;
    height: 216px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.content-side p{
    width: 207px;
    height: 28px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.content-side h1{
    width: 663px;
    height: 188px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    color: #D40000;
    
}

.content-side h2{
    width: 663px;
    height: 68px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;

    color: #36392D;
}

button{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 40px 8px 0px;
    gap: 8px;

    width: 124px;
    height: 36px;

    background-color: #FFFBF5;
    flex: none;
    order: 2;
    flex-grow: 0;
    border: 0px;
    border-bottom: 1px solid #36392D;
}

.who-are-we{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 80px;

    position: absolute;
    width: 1462px;
    height: 719px;
    left: 229px;
    top: 906px;
}

.who-are-we img{
    width: 719px;
    height: 719px;
    flex: none;
    order: 1;
    flex-grow: 0;
    
}

#content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    row-gap: 40px;
    
    width: 663px;
    height: 380px;
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.who-are-we h1{
    width: 663px;
    height: 94px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 130%;

    color: #D40000;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}


.who-are-we h2{
    width: 663px;
    height: 170px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
   
    color: #36392D;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.bestsellers h1{
    position: absolute;
    width: 396px;
    height: 94px;
    left: calc(50% - 396px/2);
    top: 1785px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 130%;
 
    color: #D40000;
}

#bestsellers-img1{
    position: absolute;
    width: 422px;
    height: 633px;
    left: 80px;
    top: 1959px;
}

#bestsellers-img2{
    position: absolute;
    width: 422px;
    height: 632px;
    left: 749px;
    top: 1960px;
}

#bestsellers-img3{
    position: absolute;
    width: 422px;
    height: 633px;
    left: 1418px;
    top: 1959px;
}

#bestsellers-img4{
    position: absolute;
    width: 422px;
    height: 633px;
    left: 526px;
    top: 2632px;
}

#bestsellers-img5{
    position: absolute;
    width: 422px;
    height: 633px;
    left: 972px;
    top: 2632px;
}

.blogs{
    position: absolute;
    width: 1920px;
    height: 944px;
    left: 0px;
    top: 3425px;

    background: #FFF3DF;
}

.blogs h1{
    position: absolute;
    width: 493px;
    height: 94px;
    left: 229px;
    top: 80px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 130%;
   
    color: #D40000;
}

.blogs button{
    position: absolute;
    left: 1598px;
    top: 109px;
    background-color: #FFF3DF;

}

.blogs-items{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 1761px;
    height: 610px;
    left: 80px;
    top: 254px;

}

.blogs-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

   
    width: 571px;
    height: 610px;
    left: 80px;
    top: 254px;

}



#blog-tag{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;
    
    width: 82px;
    height: 38px;
    
    background: #FFFBF5;
    border-radius: 24px;
    
    flex: none;
    order: 1;
    flex-grow: 0;
}

#blog-tag p{
    width: 34px;
    height: 22px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
  
    color: #D40000;


    flex: none;
    order: 0;
    flex-grow: 0;
}

#blog-topic{
    width: 571px;
    height: 78px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 140%;
 
    color: #36392D;


    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#blog-desc{
    width: 571px;
    height: 66px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;

    color: #36392D;


    flex: none;
    order: 3;
    align-self: stretch;
    flex-grow: 0;
}

.subscribe{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 610px;
    height: 192px;
    left: 655px;
    top: 4529px;

}

.subscribe p{
    width: 437px;
    height: 96px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
   
    text-align: center;

    color: #D40000;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.email{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 19px;

    width: 610px;
    height: 56px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.emailaddress{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 16px;
    gap: 8px;

    width: 422px;
    height: 56px;

    background: #FFF3DF;
    border: 1px solid #36392D;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.emailaddress p{
    width: 390px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    
    display: flex;
    align-items: center;

    color: rgba(54, 57, 45, 0.4);

    flex: none;
    order: 0;
    flex-grow: 1;
}

.subscribe-btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 24px;
    gap: 8px;

    width: 169px;
    height: 52px;

    background: #FFFBF5;
    border-radius: 24px;

    flex: none;
    order: 1;
    flex-grow: 0;
}

.s-btn-attributes{
box-sizing: border-box;

display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 40px 8px 0px;
gap: 8px;

width: 121px;
height: 36px;

border-bottom: 1px solid #36392D;

flex: none;
order: 0;
flex-grow: 0;
}

.s-btn-attributes p{
    width: 81px;
    height: 20px;
    
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    
    color: #D40000;
   
    flex: none;
    order: 0;
    flex-grow: 0;
}

#ig{
    position: absolute;
    width: 238px;
    height: 28px;
    left: calc(50% - 238px/2);
    top: 4881px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    
    color: #36392D;
}

.ig-photos{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 2010.99px;
    height: 397px;
    left: -64px;
    top: 4925px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 40px;
    
    position: absolute;
    width: 263px;
    height: 255px;
    left: 829px;
    top: 5362px;

}

.footer-logo img{
    width: 263px;
    height: 75px;

    flex: none;
    order: 0;
    flex-grow: 0;
}

.socials{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    
    width: 232px;
    height: 40px;
  
    flex: none;
    order: 1;
    flex-grow: 0;
}

.footer p{
    width: 143px;
    height: 20px;
    
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
   
    text-align: center;
    
    color: #36392D;
    

    flex: none;
    order: 2;
    flex-grow: 0;
}