*{
    margin: 0px;
    color: #101618;
}

html{
    background-color: #F1E3DA;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #F9FAFB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 16px 120px 16px;
}

a{
    text-decoration: none;
}

nav{
    font-size: 16px;
    line-height: 16px;
   
}

.nav-list{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    padding: 0;
   
}
.nav-menu{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
    padding: 0;
    margin-left: 100px;
}

.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.nav-button{
    background-color: #F9FAFB;
    border-width:1px;
    border-color: #DF7327;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    cursor: pointer;
}

.nav-selected{
    font-weight: bold;
}

main{
    height: 100%;
}

.hero-image {  
    background-image: url("Images/bg-img.png");
    height: 459px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.button{
    background-color: #DF7327;
    color: #F9FAFB;
    border: none;
    padding: 16px 24px 16px;
    border-radius: 4px;
    width: fit-content;
    cursor: pointer;
}

.button:hover{
    background-color: #DE9866;
    color: #fff;
}


.contact{
    width: fit-content;
    height: fit-content;
    padding: 120px 262px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 166px;
}

.contact-info{
    background-color: #F9FAFB;
    display: flex;
    flex-direction: column;
    padding: 80px 40px;
    gap: 40px;
    height: fit-content;
}

.icons{
    gap:24px;
    display: flex;
    flex-direction: row;
}

.contact-item{
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.contact-item p{
    font-size: 16px;
    line-height: 16px;
}

.contact-item h2{
    font-size: 20px;
    line-height: 20px;
}

.contact-form{
    gap: 40px;
    display: flex;
    flex-direction: column;
    width: auto;
}

.contact-form h1{
    font-size: 32px;
    line-height: 32px;
}

.contact-form p{
    font-size: 20px;
    line-height: 28px;
}